@font-face {
  font-family: 'ninjafont';
  src: url('fonts/lastninja.ttf');
}

.game-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#main-Canvas{
  background-image: url("../dojobackground2.jpg");
}
.preload-image{
  display: none;
}

.game-screen{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  /*background-color: green;*/
  background-image: url("../templeEntrance.png");
  /*background: rgba(255, 255, 255, 1);*/
  z-index: 1;
  opacity: 1;
  /*visibility: hidden;*/
  height: 625px;
  width: 1080px;
  transition: 1s;
}
.game-screen h1{
  font-family: 'ninjafont';
  margin-top: 180px;
  font-size: 20px;
  color: white;
}
.game-screen.hide {
  /*visibility: hidden;*/
  /*display: none;*/
  /*background: rgba(255, 255, 255, 0);*/
  /*z-index: -1;*/
  opacity: 0;
  transition: 1s;
}
.game-screen.hide * {
  display: none;
}
.game-menu{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
}
.instructions{
  width: 100%;
  position: relative;
  height: 300px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.instructions div{
  /*position: absolute;*/
  list-style: none;
  padding: 40px 20px 20px 20px;
  margin-top: 65px;
  border: 2px solid gray;
}
.instructions .player{
  text-align: center;
}

.start-button {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.start-button a{
  color: white;
  text-decoration: none;
}
.start-button a:target{
  opacity: 0;
  transition: opacity 1s linear 300ms;
}
